@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styling */
:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
  color: #111827;
  line-height: 1.5;
  font-weight: 400;
}

/* Center Page */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
}

/* Remove default Vite styles */
h1 {
  margin: 0;
}

button {
  cursor: pointer;
}
